lm/practica2_xml_dtd/Ex2.dtd

<!ELEMENT lettera (#PCDATA|cliente|ordine|responsabile)*>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT ordine (articolo+)>
<!ATTLIST ordine num CDATA #REQUIRED>
<!ELEMENT articolo (codice,descr)>
<!ELEMENT codice (#PCDATA)>
<!ELEMENT descr (#PCDATA)>
<!ELEMENT responsabile (#PCDATA|tit)*>
<!ELEMENT tit (#PCDATA)>